# Install Jupyter Extension
Install the Jupyter extension in Visual Studio Code from the Extensions view.

In [3]:
# Install Jupyter extension in Visual Studio Code from the Extensions view
# This section does not require any code to be executed in the notebook itself.
# Follow these steps to install the Jupyter extension:
# 1. Open Visual Studio Code.
# 2. Go to the Extensions view by clicking on the Extensions icon in the Activity Bar on the side of the window.
# 3. In the Extensions view search bar, type "Jupyter".
# 4. Find the Jupyter extension in the search results and click the Install button.

# Open Jupyter Notebook
Open an existing Jupyter notebook file (.ipynb) in Visual Studio Code.

In [4]:
# Open an existing Jupyter notebook file (.ipynb) in Visual Studio Code
# This section does not require any code to be executed in the notebook itself.
# Follow these steps to open a Jupyter notebook:
# 1. Open Visual Studio Code.
# 2. Go to the File menu and select Open File...
# 3. Navigate to the location of your Jupyter notebook file (.ipynb).
# 4. Select the file and click Open.
# 5. The Jupyter notebook will open in a new tab within Visual Studio Code.

# Create a New Notebook
Create a new Jupyter notebook file in Visual Studio Code by using the Command Palette or the File menu.

In [5]:
# Create a New Notebook

# This section does not require any code to be executed in the notebook itself.
# Follow these steps to create a new Jupyter notebook:
# 1. Open Visual Studio Code.
# 2. Open the Command Palette by pressing `Ctrl+Shift+P` (Windows/Linux) or `Cmd+Shift+P` (Mac).
# 3. In the Command Palette, type "Jupyter: Create New Blank Notebook" and select it.
# 4. A new blank Jupyter notebook will be created and opened in a new tab within Visual Studio Code.

# Practising Jupyter
Run code cells in the Jupyter notebook and view the output directly within Visual Studio Code.

In [15]:
import pandas as pd
df=pd.read_csv(r"C:\Users\LUKWA\Downloads\export_goods_services_countries_dataset.csv")
print(df.head(5))

  country_code country_name           region     sub_region  \
0          AFG   AFGANISTAN  ASIA MERIDIONAL  SOUTHERN ASIA
1          AFG   AFGANISTAN  ASIA MERIDIONAL  SOUTHERN ASIA
2          AFG   AFGANISTAN  ASIA MERIDIONAL  SOUTHERN ASIA
3          AFG   AFGANISTAN  ASIA MERIDIONAL  SOUTHERN ASIA
4          AFG   AFGANISTAN  ASIA MERIDIONAL  SOUTHERN ASIA

  intermediate_region  indicator_code  \
0                 NaN  NE.EXP.GNFS.ZS
1                 NaN  NE.EXP.GNFS.ZS
2                 NaN  NE.EXP.GNFS.ZS
3                 NaN  NE.EXP.GNFS.ZS
4                 NaN  NE.EXP.GNFS.ZS

                                    indicator_name  year  \
0  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1960
1  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1961
2  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1962
3  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1963
4  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1964

   exports_of_goods_and_services
0                            0.0
1                            0.0
2                            0.0
3                            0.0
4                            0.0

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13760 entries, 0 to 13759
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country_code                   13760 non-null  object
 1   country_name                   13760 non-null  object
 2   region                         8320 non-null   object
 3   sub_region                     13760 non-null  object
 4   intermediate_region            5760 non-null   object
 5   indicator_code                 13760 non-null  object
 6   indicator_name                 13760 non-null  object
 7   year                           13760 non-null  int64
 8   exports_of_goods_and_services  13760 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 967.6+ KB
None

In [17]:
print(df.describe)

<bound method NDFrame.describe of       country_code country_name  \
0              AFG   AFGANISTAN
1              AFG   AFGANISTAN
2              AFG   AFGANISTAN
3              AFG   AFGANISTAN
4              AFG   AFGANISTAN
...            ...          ...
13755          ZWE     ZIMBABWE
13756          ZWE     ZIMBABWE
13757          ZWE     ZIMBABWE
13758          ZWE     ZIMBABWE
13759          ZWE     ZIMBABWE

                                                  region          sub_region  \
0                                        ASIA MERIDIONAL       SOUTHERN ASIA
1                                        ASIA MERIDIONAL       SOUTHERN ASIA
2                                        ASIA MERIDIONAL       SOUTHERN ASIA
3                                        ASIA MERIDIONAL       SOUTHERN ASIA
4                                        ASIA MERIDIONAL       SOUTHERN ASIA
...                                                  ...                 ...
13755  ÁFRICA AL SUR DEL SAHARA (EXCLUIDO ALTOS INGRE...  SUB-SAHARAN AFRICA
13756  ÁFRICA AL SUR DEL SAHARA (EXCLUIDO ALTOS INGRE...  SUB-SAHARAN AFRICA
13757  ÁFRICA AL SUR DEL SAHARA (EXCLUIDO ALTOS INGRE...  SUB-SAHARAN AFRICA
13758  ÁFRICA AL SUR DEL SAHARA (EXCLUIDO ALTOS INGRE...  SUB-SAHARAN AFRICA
13759  ÁFRICA AL SUR DEL SAHARA (EXCLUIDO ALTOS INGRE...  SUB-SAHARAN AFRICA

      intermediate_region  indicator_code  \
0                     NaN  NE.EXP.GNFS.ZS
1                     NaN  NE.EXP.GNFS.ZS
2                     NaN  NE.EXP.GNFS.ZS
3                     NaN  NE.EXP.GNFS.ZS
4                     NaN  NE.EXP.GNFS.ZS
...                   ...             ...
13755      EASTERN AFRICA  NE.EXP.GNFS.ZS
13756      EASTERN AFRICA  NE.EXP.GNFS.ZS
13757      EASTERN AFRICA  NE.EXP.GNFS.ZS
13758      EASTERN AFRICA  NE.EXP.GNFS.ZS
13759      EASTERN AFRICA  NE.EXP.GNFS.ZS

                                        indicator_name  year  \
0      EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1960
1      EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1961
2      EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1962
3      EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1963
4      EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  1964
...                                                ...   ...
13755  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  2019
13756  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  2020
13757  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  2021
13758  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  2022
13759  EXPORTACIONES DE BIENES Y SERVICIOS (% DEL PIB)  2023

       exports_of_goods_and_services
0                           0.000000
1                           0.000000
2                           0.000000
3                           0.000000
4                           0.000000
...                              ...
13755                      27.554156
13756                      22.293063
13757                      22.775241
13758                      27.872171
13759                      21.579400

[13760 rows x 9 columns]>

In [18]:
print(df.shape)

(13760, 9)

In [19]:
print(df.isnull().sum())

country_code                        0
country_name                        0
region                           5440
sub_region                          0
intermediate_region              8000
indicator_code                      0
indicator_name                      0
year                                0
exports_of_goods_and_services       0
dtype: int64

In [20]:
df.fillna(0, inplace=True)  # Replace NaNs with 0  
print(df.isnull().sum())

country_code                     0
country_name                     0
region                           0
sub_region                       0
intermediate_region              0
indicator_code                   0
indicator_name                   0
year                             0
exports_of_goods_and_services    0
dtype: int64

In [26]:
df_subset = df[['country_name', 'region']]  # Select specific columns  
print(df_subset.head())

  country_name           region
0   AFGANISTAN  ASIA MERIDIONAL
1   AFGANISTAN  ASIA MERIDIONAL
2   AFGANISTAN  ASIA MERIDIONAL
3   AFGANISTAN  ASIA MERIDIONAL
4   AFGANISTAN  ASIA MERIDIONAL

In [28]:
df_sorted = df.sort_values(by='year', ascending=False)